@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
body {
  font-family: "Outfit";
}
.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  padding: 0 20% 0 0 !important;
}
